.home-main {
    position: relative;
}

.home-hero-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.home-welcome-text {
    margin: 0;
    padding: 0;
}

.home-subtext {
    font-style: italic;
}

.home-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f2e8cf93;
    padding: 10px;
}

.home-shop-text {
    font-size: large;
    font-weight: 700 ;
}

.home-items-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
    flex-wrap: wrap;
    max-height: 200px;
}

.home-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 20px 15px;
    width: 200px;
}

.home-item-image {
    width: 50%;
    max-height: 250px;
    object-fit: contain;

}

@media(max-width: 500px) {
    .home-items-container {
        max-height: 400px;
    }
}